body {
	font-family: helvetica;
	color: white;
	background-color: purple;
	font-size: 27pt;
	padding-top: 1em;
	padding-left: 1em;
	text-align: center;
	text-transform: upper-case;
}

h1 {
	text-align: center;
	font-family: rockwell;
	font-size: 20pt;
}

h2 {
	text-align: center;
	font-family: rockwell;
	font-size: 50pt;
	padding-top: 1em;

}

h3 {
        text-align: center;
        font-family: Monaco;
        font-size: 35pt;
}

h4 {
        text-align: center;
        font-family: rockwell;
        font-size: 50pt;
        padding-top: 0.5em;
	padding-bottom: 0.5em;
        outline: 5px dotted black;
}
